In [3]:
import pandas as pd
import numpy as np
import re
pd.options.mode.chained_assignment = None  # default='warn'

In [96]:
%reset_selective -f all

In [97]:
starbucks_dirty = pd.read_csv("startbucks_Jeffrey.csv")
starbucks_dirty

,No.,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,streetAddressLine3,city,countrySubdivisionCode,postalCode,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId
0,4712,49987-272024,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",hyatt-bethesda-metro-1-bethesda-metro-center-b...,38.984316,-77.094665,1 Bethesda Metro Center,NaN,NaN,Bethesda,MD,208145325,-240,Eastern Standard Time,GMT-05:00 America/New_York
1,4713,743-294452,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 8:0...",7200-wisconsin-ave-7200-wisconsin-ave-bethesda...,38.981224,-77.093287,7200 Wisconsin Ave,120,NaN,Bethesda,MD,20814,-240,Eastern Standard Time,GMT-05:00 America/New_York
2,4714,13235-105606,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 8:0...",van-ness-udc-4250-connecticut-ave-nw-van-ness-...,38.944498,-77.064207,"4250 Connecticut Ave., NW",NaN,Van Ness Metro Building,Washington,DC,200081173,-240,Eastern Standard Time,GMT-05:00 America/New_York
3,4715,47040-256424,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",dakota-crossing-2430-market-street-ne-washingt...,38.920244,-76.952774,2430 Market Street NE,1001,NaN,Washington,DC,200183852,-240,Eastern Standard Time,GMT-05:00 America/New_York
4,4716,7764-61020,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 7:3...",friendship-heights-5454-wisconsin-avenue-the-b...,38.962553,-77.086862,5454 Wisconsin Avenue,NaN,The Barlow Building,Chevy Chase,MD,208156901,-240,Eastern Standard Time,GMT-05:00 America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,17639,21472-213065,GB,LS,"[{'dayName': 'Today', 'hours': '7:00 AM to 7:0...",rhyl-kinmel-park-eastbound-kinmel-park-a-55-ea...,53.270439,-3.519619,"Kinmel Park, A55 Eastbound",Bodelwyddon,NaN,Rhyl,WLS,LL18 5XW,0,GMT Standard Time,GMT+00:00 Europe/London
3794,17640,47867-260072,GB,FR,"[{'dayName': 'Today', 'hours': '6:30 AM to 5:3...",welwyn-garden-city-howard-centre-unit-56-welwy...,51.802087,-0.204220,Unit 56,The Howard Centre,NaN,Welwyn Garden City,ENG,AL8 6HA,0,GMT Standard Time,GMT+00:00 Europe/London
3795,17641,9139-152280,GB,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 10:...",birchanger-welcome-break-m-11-motorway-junctio...,51.871540,0.194940,"M11 Motorway, Junction 8","Old Dunmow Road, Bishop Stortford",NaN,Hertfordshire,ENG,CM23 5QZ,0,GMT Standard Time,GMT+00:00 Europe/London
3796,17642,27642-248279,GB,FR,"[{'dayName': 'Today', 'hours': '7:00 AM to 6:0...",bishops-stortford-jacksons-square-jacksons-squ...,51.870230,0.160930,Jacksons Square,NaN,NaN,Bishop's Stortford,ENG,CM23 3AB,0,GMT Standard Time,GMT+00:00 Europe/London
3797,17643,49194-267469,GB,FR,"[{'dayName': 'Today', 'hours': '8:00 AM to 6:0...",harlow-harvey-shopping-centre-unit-b-2-harvey-...,51.769361,0.094525,"Unit B2, Harvey Shopping Centre,",NaN,NaN,Harlow,ENG,CM20 1XR,0,GMT Standard Time,GMT+00:00 Europe/London

# cluster by country

In [98]:
dirty_us = starbucks_dirty[starbucks_dirty['countryCode'] == 'US']
dirty_us
# pd.unique(starbucks_dirty['countryCode'])

,No.,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,streetAddressLine3,city,countrySubdivisionCode,postalCode,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId
0,4712,49987-272024,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",hyatt-bethesda-metro-1-bethesda-metro-center-b...,38.984316,-77.094665,1 Bethesda Metro Center,NaN,NaN,Bethesda,MD,208145325,-240,Eastern Standard Time,GMT-05:00 America/New_York
1,4713,743-294452,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 8:0...",7200-wisconsin-ave-7200-wisconsin-ave-bethesda...,38.981224,-77.093287,7200 Wisconsin Ave,120,NaN,Bethesda,MD,20814,-240,Eastern Standard Time,GMT-05:00 America/New_York
2,4714,13235-105606,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 8:0...",van-ness-udc-4250-connecticut-ave-nw-van-ness-...,38.944498,-77.064207,"4250 Connecticut Ave., NW",NaN,Van Ness Metro Building,Washington,DC,200081173,-240,Eastern Standard Time,GMT-05:00 America/New_York
3,4715,47040-256424,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",dakota-crossing-2430-market-street-ne-washingt...,38.920244,-76.952774,2430 Market Street NE,1001,NaN,Washington,DC,200183852,-240,Eastern Standard Time,GMT-05:00 America/New_York
4,4716,7764-61020,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 7:3...",friendship-heights-5454-wisconsin-avenue-the-b...,38.962553,-77.086862,5454 Wisconsin Avenue,NaN,The Barlow Building,Chevy Chase,MD,208156901,-240,Eastern Standard Time,GMT-05:00 America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,7530,24426-237911,US,CO,"[{'dayName': 'Today', 'hours': '4:30 AM to 9:0...",27th-avenue-loop-101-phoenix-20216-n-27th-aven...,33.670760,-112.117874,20216 N 27th Avenue,NaN,NaN,Phoenix,AZ,850273207,-420,US Mountain Standard Time,GMT-07:00 America/Phoenix
2819,7531,27544-245014,US,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:0...",target-phoenix-t-1141-2727-w-agua-fria-fwy-pho...,33.667883,-112.118782,2727 W Agua Fria Fwy,NaN,NaN,Phoenix,AZ,85027,-420,US Mountain Standard Time,GMT-07:00 America/Phoenix
2820,7532,8974-95021,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 7:3...",happy-valley-i-17-phoenix-2501-west-happy-vall...,33.711073,-112.111442,2501 West Happy Valley Road,#50-1200,NaN,Phoenix,AZ,850853701,-420,US Mountain Standard Time,GMT-07:00 America/Phoenix
2821,7533,9065-113971,US,LS,"[{'dayName': 'Today', 'hours': '7:00 AM to 1:3...",usaa-phoenix-campus-1-norterra-dr-phoenix-az-8...,33.720295,-112.111798,1 Norterra Dr,NaN,NaN,Phoenix,AZ,850858204,-420,US Mountain Standard Time,GMT-07:00 America/Phoenix
2822,7534,9251-95286,US,CO,"[{'dayName': 'Today', 'hours': '4:30 AM to 11:...",43rd-avenue-thunderbird-phoenix-4123-w-thunder...,33.610479,-112.147505,4123 W. Thunderbird Road,NaN,NaN,Phoenix,AZ,850535341,-420,US Mountain Standard Time,GMT-07:00 America/Phoenix

In [99]:
dirty_gb = starbucks_dirty[starbucks_dirty['countryCode'] == 'GB']
dirty_gb
# type(dirty_gb)

,No.,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,streetAddressLine3,city,countrySubdivisionCode,postalCode,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId
2823,16669,9155-152277,GB,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 10:...",membury-south-welcome-break-m-4-motorway-westb...,51.483556,-1.557143,"M4 Motorway Westbound, Junction 14/15",Lambourne,NaN,Berkshire,ENG,RG17 7TZ,0,GMT Standard Time,GMT+00:00 Europe/London
2824,16670,22194-218828,GB,LS,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",membury-south-welcome-break-dt-m-4-motorway-j-...,51.482387,-1.555109,M4 Motorway J14 15 membury,NaN,NaN,Hungerford,ENG,RG17 7TZ,0,GMT Standard Time,GMT+00:00 Europe/London
2825,16671,18362-190424,GB,LS,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",membury-north-welcome-break-dt-m-4-motorway-ju...,51.481264,-1.556526,"M4 Motorway, Junction 14/15",Lambourne,NaN,Hungerford,ENG,RG17 7TZ,0,GMT Standard Time,GMT+00:00 Europe/London
2826,16672,9136-152279,GB,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 10:...",membury-north-welcome-break-m-4-motorway-eastb...,51.481177,-1.557422,M4 Motorway Eastbound Junction 14 15,NaN,NaN,Berkshire,ENG,RG17 7TZ,0,GMT Standard Time,GMT+00:00 Europe/London
2827,16673,47832-260044,GB,FR,"[{'dayName': 'Today', 'hours': '10:00 AM to 8:...",swindon-great-western-outlet-unit-51-swindon-e...,51.562617,-1.798111,Unit 51,Great Western Designer Village,NaN,Swindon,ENG,SN2 2DZ,0,GMT Standard Time,GMT+00:00 Europe/London
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,17639,21472-213065,GB,LS,"[{'dayName': 'Today', 'hours': '7:00 AM to 7:0...",rhyl-kinmel-park-eastbound-kinmel-park-a-55-ea...,53.270439,-3.519619,"Kinmel Park, A55 Eastbound",Bodelwyddon,NaN,Rhyl,WLS,LL18 5XW,0,GMT Standard Time,GMT+00:00 Europe/London
3794,17640,47867-260072,GB,FR,"[{'dayName': 'Today', 'hours': '6:30 AM to 5:3...",welwyn-garden-city-howard-centre-unit-56-welwy...,51.802087,-0.204220,Unit 56,The Howard Centre,NaN,Welwyn Garden City,ENG,AL8 6HA,0,GMT Standard Time,GMT+00:00 Europe/London
3795,17641,9139-152280,GB,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 10:...",birchanger-welcome-break-m-11-motorway-junctio...,51.871540,0.194940,"M11 Motorway, Junction 8","Old Dunmow Road, Bishop Stortford",NaN,Hertfordshire,ENG,CM23 5QZ,0,GMT Standard Time,GMT+00:00 Europe/London
3796,17642,27642-248279,GB,FR,"[{'dayName': 'Today', 'hours': '7:00 AM to 6:0...",bishops-stortford-jacksons-square-jacksons-squ...,51.870230,0.160930,Jacksons Square,NaN,NaN,Bishop's Stortford,ENG,CM23 3AB,0,GMT Standard Time,GMT+00:00 Europe/London
3797,17643,49194-267469,GB,FR,"[{'dayName': 'Today', 'hours': '8:00 AM to 6:0...",harlow-harvey-shopping-centre-unit-b-2-harvey-...,51.769361,0.094525,"Unit B2, Harvey Shopping Centre,",NaN,NaN,Harlow,ENG,CM20 1XR,0,GMT Standard Time,GMT+00:00 Europe/London

# check City, countrySubdivisionCode characters case

In [100]:
dirty_gb['countrySubdivisionCode'] = dirty_gb['countrySubdivisionCode'].str.upper()
dirty_us['countrySubdivisionCode'] = dirty_us['countrySubdivisionCode'].str.upper()
print(pd.unique(dirty_gb['countrySubdivisionCode']))
print(pd.unique(dirty_us['countrySubdivisionCode']))

['ENG' 'WLS' 'SCT']
['MD' 'DC' 'NY' 'OH' 'MI' 'OR' 'TX' 'WA' 'WI' 'AL' 'MS' 'FL' 'CA' 'NM'
 'UT' 'VA' 'CO' 'IN' 'SD' 'IL' 'AZ' 'GA' 'LA' 'ME' 'NE' 'IA' 'OK' 'NV'
 'NJ' 'NC' 'SC' 'TN' 'AK' 'MO' 'MA' 'ID' 'MN' 'CT' 'RI']

In [101]:
dirty_gb['city'] = dirty_gb['city'].str.lower()
dirty_us['city'] = dirty_us['city'].str.lower()
print(pd.unique(dirty_gb['city']))
print(pd.unique(dirty_us['city']))

['berkshire' 'hungerford' 'swindon' 'newbury' 'didcot' 'andover' 'wigan'
 'reading' 'winchester' 'burford' 'headington' 'basingstoke' 'oxford'
 'melksham' 'henley-on-thames' 'bicester' 'trowbridge' 'salisbury' 'thame'
 'wokingham' 'hampshire' 'hants' 'marlow' 'frome' 'fleet' 'birmingham'
 'redditch' 'solihull' 'solihull, west midlands' 'edgbaston' 'quinton'
 'droitwich' 'brierley hill' 'dudley' 'kidderminster' 'warwick' 'walsall'
 'stratford upon avon' 'worcester' 'coventry' 'wolverhampton'
 'leamington spa' 'corley' 'ashorne' 'banbury' 'rugby' 'nuneaton'
 'northampton' 'towcester' 'gloucestershire' 'nr stroud' 'bristol'
 'gloucester' 'monmouth' 'bath' 'ross on wye' 'cheltenham' 'newport'
 'cwmbran' 'tewkesbury' 'weston super mare' 'cardiff' 'warminster'
 'yorkshire' 'brighouse' 'cleckheaton' 'mirfield' 'huddersfield'
 'bradford' 'birstall' 'batley' 'dewsbury' 'leeds' 'west yorkshire'
 'leeds city point' 'wakefield' 'keighley' 'barnsley' 'castleford'
 'rochdale' 'skipton' 'harrogate' 'staffordshire' 'newcastle'
 'stoke on trent' 'newcastle under lyme' 'hanley, stoke-on-trent' 'crewe'
 'stafford' 'middlewich' 'whitchurch' 'telford' 'shropshire' 'wilmslow'
 'cannock' 'macclesfield' 'shrewsbury' 'manchester' 'altrincham' 'cheadle'
 'chester' 'stockport' 'wrexham' 'barton under needwood' 'burton-on-trent'
 'warrington' 'runcorn' 'broughton' 'south wirral' 'larbert' 'falkirk'
 'bathgate' 'stirling' 'dunfermline' 'glasgow' 'livingsston' 'livingston'
 'broxburn' 'dumfermline' 'hamilton' 'edinburgh' 'east kilbride'
 'refrewshire' 'stockbridge' 'paisley' 'high wycombe' 'milton keynes'
 'beaconsfield' 'buckinghamshire' 'sheffield' 'chesterfield'
 'nottinghamshire' 'rotherham' 'blyth' 'elkesley' 'newark' 'mansfield'
 'markham moor' 'doncaster' 'nottingham' 'derby' 'lanarkshire' 'dumfries'
 'cockermouth' 'hexham' 'penrith' 'lilyhall' 'chorley' 'bolton' 'horwich'
 'preston' 'bickerstaffe' 'ormskirk' 'liverpool' 'st helens' 'blackburn'
 'southport' 'cheshire' 'ramsbottom' 'radcliffe' 'bury' 'blackpool'
 'clitheroe' 'burnley' 'ashton under lyne' 'bedford' 'wellingborough'
 'rushden' 'dunstable' 'luton' 'kettering' 'london' 'hitchin' 'baldock'
 'hemel hempstead' 'hemel hampstead' 'stevenage' 'hertfordshire'
 'brampton' 'market harborough' 'st albans' 'corby' 'leicester'
 'leicester forest east' 'oadby' 'loughborough' 'ashby-de-la-zouch'
 'tamworth' 'newcastle on tyne' 'newcastle upon tyne' 'gateshead' 'boldon'
 'south shields' 'sunderland' 'durham' 'peterlee, durham' 'thinford'
 'hartlepool' 'alnwick' 'stockton on tees' 'middlesbrough' 'grantham'
 'merseyside' 'wirral' 'saughall' 'wallasey' 'mold' 'inverness' 'elgin'
 'denton' 'tameside' 'ashton' 'hyde' 'lancaster' 'barry' 'taunton'
 'yeovil' 'pencoed' 'bridgend' 'honiton' 'brigend' 'axminster' 'exeter'
 'york' 'swansea' 'llanelli' 'southwark' 'thirsk' 'barnes' 'chiswick'
 'wandsworth' 'kilburn' 'richmond' 'aberdeen' 'peterhead' 'forfar'
 'london bridge' 'hampton' 'whitton' 'feltham' 'teddington' 'twickenham'
 'hounslow' 'kingston upon thames' 'heathrow' 'walton on thames' 'hayes'
 'weybridge' 'staines' 'ealing' 'worcester park' 'cobham' 'north cheam'
 'epsom' 'bexleyheath' 'orpington' 'greenhithie' 'west thurrock' 'essex'
 'bromley' 'lewisham' 'ilford' 'hornchurch' 'romford' 'stratford'
 'south woodford' 'sutton' 'bracknell' 'camberley' 'taplow' 'farnborough'
 'windsor' 'slough' 'farnham' 'tongham' 'woking' 'guildford' 'leven'
 'st andrews' 'perth' 'dundee' 'wembley' 'hampsire' 'surrey' 'burpham'
 'uxbridge' 'pinner' 'rickmansworth' 'harrow' 'watford' 'elstree'
 'edgware' 'kent' 'linwood' 'johnson' 'dumbarton' 'rochester' 'brentwood'
 'chatham' 'chaltham' 'sevenoaks' 'basildon' 'canvey island' 'maidstone'
 'canterbury' 'faversham' 'sandwich' 'ashford' 'deal' 'folkestone'
 'sittingbourne' 'isle of sheppey' 'southend on sea' 'tunbridge wells'
 'tonbridge' 'chelmsford' 'rivenhall south' 'colchester' 'pevensey'
 'braintree' 'hailsham' 'chiswell green' 'croydon' 'liphook' 'eastleigh'
 'southampton' 'totton' 'whiteley' 'fareham' 'portsmouth' 'emsworth'
 'st leonards' 'bournemouth' 'bournmouth' 'potters bar' 'potters barn'
 'waltham cross' 'loughton' 'hertforshire' 'epping' 'reigate and banstead'
 'brandon' 'thetford' 'bury st edmunds' 'norwich' 'newmarket' 'ely'
 'norfolk' 'cambridge' 'kings lynn' 'wisbech' 'ipswich' 'safron walden'
 'long sutton' 'peterborough' 'stansted' 'bishops storford' 'corfe mullen'
 'poole' 'west sussex' 'crawley' 'east grinstead' 'lincoln' 'market rasen'
 'horsham' 'oswestry gateway' 'ludlow' 'rhyl' 'welwyn garden city'
 "bishop's stortford" 'harlow']
['bethesda' 'washington' 'chevy chase' 'new carrollton' 'laurel'
 'north bethesda' 'ruby' 'kingston' 'rhinebeck' 'bowling green'
 'perrysburg' 'waterville' 'maumee' 'holland' 'toledo' 'oregon' 'findlay'
 'sylvania' 'fremont' 'lambertville' 'clyde' 'adrian' 'monroe' 'ada'
 'west unity' 'tecumseh' 'sandusky' 'portland' 'happy valley' 'milwaukie'
 'clackamas' 'gresham' 'cypress' 'houston' 'spring' 'tomball' 'gahanna'
 'columbus' 'reynoldsburg' 'westerville' 'new albany' 'flower mound'
 'lewisville' 'grapevine' 'coppell' 'southlake' 'bartonville' 'carrollton'
 'irving' 'dallas' 'dfw airport' 'westlake' 'hickory creek' 'corinth'
 'trophy club' 'little elm' 'frisco' 'prosper' 'cross roads' 'plano'
 'the colony' 'mckinney' 'olympia' 'tumwater' 'lacey' 'shelton' 'dupont'
 'rochester' 'jblm' 'centralia' 'yelm' 'lakewood' 'elma'
 'joint base lewis-mcchord' 'tomah' 'mobile' 'saraland' 'daphne'
 'spanish fort' 'foley' 'gulf shores' 'orange beach' 'atmore'
 'ocean springs' 'pensacola' 'hilliard' 'upper arlington' "d'iberville"
 'biloxi' 'carmichael' 'fair oaks' 'sacramento' 'citrus heights'
 'north highlands' 'gold river' 'rancho cordova' 'soquel' 'capitola'
 'santa cruz' 'aptos' 'scotts valley' 'saratoga' 'morgan hill'
 'albuquerque' 'rio rancho' 'bernalillo' 'allen' 'victoria' 'round rock'
 'hutto' 'pflugerville' 'georgetown' 'austin' 'cedar park' 'manor'
 'leander' 'spring valley' 'logan' 'brigham city' 'north ogden' 'ogden'
 'riverdale' 'south ogden' 'uintah' 'clinton' 'clearfield' 'hill afb'
 'west point' 'layton' 'cedar city' 'st. george' 'williamsburg'
 'gloucester' 'richmond' 'henrico' 'mechanicsville' 'glen allen'
 'midlothian' 'north chesterfield' 'short pump' 'snohomish' 'everett'
 'woodinville' 'duvall' 'bothell' 'mill creek' 'lake stevens' 'redmond'
 'lynnwood' 'stanwood' 'vancouver' 'camas' 'fairview' 'washougal'
 'wood village' 'troutdale' 'appleton' 'grand chute' 'menasha'
 'appleton east' 'neenah' 'oshkosh' 'de pere' 'ashwaubenon' 'green bay'
 'bellevue' 'suamico' 'fond du lac' 'manitowoc' 'sheboygan' 'sturgeon bay'
 'marinette' 'montgomery' 'wetumpka' 'hope hull' 'prattville' 'auburn'
 'opelika' 'colton' 'rialto' 'riverside' 'moreno valley' 'fontana'
 'san bernardino' 'loma linda' 'alameda' 'el segundo' 'los angeles'
 'westchester' 'inglewood' 'playa vista' 'marina del rey' 'culver city'
 'brighton' 'indianapolis' 'fishers' 'carmel' 'mccordsville' 'rapid city'
 'deadwood' 'spearfish' 'weslaco' 'mercedes' 'pharr' 'edinburg' 'mcallen'
 'mission' 'harlingen' 'brownsville' 'port isabel' 'burleson'
 'willow park' 'orlando' 'lake buena vista' 'kissimmee' 'bay lake'
 'celebration' 'pasadena' 'south pasadena' 'san marino' 'alhambra'
 'san gabriel' 'arcadia' 'temple city' 'glendale' 'la canada flintridge'
 'sierra madre' 'pembroke pines' 'miramar' 'davie' 'miami gardens'
 'hollywood' 'fort lauderdale' 'southwest ranches' 'miami' 'weston'
 'miami lakes' 'plantation' 'dania beach' 'sunrise' 'aventura'
 'hallandale beach' 'hialeah' 'springfield' 'taylorville' 'lincoln'
 'decatur' 'prescott valley' 'prescott' 'chino valley' 'payson' 'turlock'
 'ceres' 'modesto' 'livingston' 'patterson' 'riverbank' 'atwater'
 'oakdale' 'ripon' 'escalon' 'merced' 'midland' 'fort benning' 'lagrange'
 'thomaston' 'chicago' 'lincoln park' 'allen park' 'dearborn' 'taylor'
 'riverview' 'dearborn heights' 'woodhaven' 'romulus' 'detroit' 'redford'
 'grosse ile twp' 'livonia' 'brownstown charter township' 'westland'
 'canton' 'farmington hills' 'belleville' 'port allen' 'baton rogue'
 'augusta' 'omaha' 'la vista' 'papillion' 'offutt afb' 'council bluffs'
 'plattsmouth' 'tulsa' 'jenks' 'glenpool' 'sand springs' 'broken arrow'
 'owasso' 'claremore' 'muskogee' 'bartlesville' 'bullhead city'
 'fort mohave' 'laughlin' 'kingman' 'lake havasu city' 'queen creek'
 'mesa' 'san tan valley' 'gilbert' 'chandler' 'jersey city' 'hoboken'
 'new york' 'lima' "st. mary's" 'sidney' 'piqua' 'troy' 'denton'
 'flat rock' 'hendersonville' 'mills river' 'fletcher' 'arden' 'asheville'
 'lake lure' 'landrum' 'brevard' 'swannanoa' 'candler' 'black mountain'
 'inman' 'weaverville' 'forest city' 'waynesville' 'cullowhee' 'cherokee'
 'cashiers' 'marshall' 'gatlinburg' 'franklin' 'mars hill' 'pigeon forge'
 'sevierville' 'burnsville' 'marion' 'spruce pine' 'greeneville'
 'jonesborough' 'johnson city' 'north augusta' 'martinez' 'evans'
 'fort gordon' 'grovetown' 'aiken' 'greenwood' 'northvale' 'old tappan'
 'closter' 'yonkers' 'park ridge' 'dobbs ferry' 'westwood' 'emerson'
 'nyack' 'west nyack' 'montvale' 'scarsdale' 'nanuet' 'paramus' 'tuckahoe'
 'ridgewood' 'bronxville' 'englewood' 'bronx' 'new rochelle' 'new city'
 'hackensack' 'allendale' 'anchorage' 'fort richardson' 'eagle river'
 'wasilla' 'palmer' 'columbia' 'irmo' 'lexington' 'w columbia'
 'west columbia' 'cayce' 'newberry' 'camden' 'orangeburg' 'sumter'
 'richmond hill' 'savannah' 'pooler' 'hinesville' 'rincon' 'bluffton'
 'hardeeville' 'hilton head island' 'hilton head' 'statesboro' 'beaufort'
 'amarillo' 'canyon' 'dumas' 'thibodaux' 'fernley' 'fallon' 'sparks'
 'reno' 'dayton' 'carson city' 'incline village' 'holly springs'
 'clermont' 'davenport' 'fairfax' 'oakton' 'burke' 'vienna' 'reston'
 'mclean' 'falls church' 'seymour' 'knoxville' 'dandridge' 'alcoa'
 'maryville' 'fountain city' 'powell' 'morristown' 'farragut' 'delaware'
 'susanville' 'mamaroneck' 'larchmont' 'mt. vernon' 'glen cove' 'eagle'
 'edwards' 'avon' 'vail' 'el jebel' 'basalt' 'glenwood springs'
 'carbondale' 'aspen' 'silverthorne' 'dillon' 'breckenridge' 'keystone'
 'oviedo' 'belle isle' 'winter park' 'winter springs' 'edgewood'
 'edwardsville' 'collinsville' "o'fallon" 'shiloh' 'fairview heights'
 'st. louis' 'ferguson' 'scott afb' 'florissant' 'university city'
 'st louis' 'hazelwood' 'clayton' 'richmond heights' 'brentwood' 'st. ann'
 'webster groves' 'bridgeton' 'maryland heights' 'affton' 'beverly'
 'danvers' 'salem' 'peabody' 'marblehead' 'swampscott' 'middleton'
 'lynnfield' 'saugus' 'lynn' 'reading' 'melrose' 'stoneham'
 'north reading' 'revere' 'woburn' 'malden' 'east boston' 'chelsea'
 'medford' 'north andover' 'wilmington' 'andover' 'winchester' 'boston'
 'somerville' 'charlestown' 'keizer' 'silverton' 'woodburn' 'monmouth'
 'mcminnville' 'stayton' 'newberg' 'molalla' 'canby' 'wilsonville'
 'albany' 'sherwood' 'arlington' 'ashland' 'richland' 'kennewick' 'pasco'
 'prosser' 'grandview' 'hermiston' 'sunnyside' 'pendleton' 'walla walla'
 'toppenish' 'chesapeake' 'league city' 'dickinson' 'texas city'
 'nassau bay' 'friendswood' 'webster' 'clear lake shores' 'kemah' 'alvin'
 'pearland' 'la porte' 'deer park' 'duncanville' 'desoto' 'cedar hill'
 'red oak' 'newport' 'sandpoint' 'ponderay' 'hayden' "coeur d'alene"
 'spokane' 'post falls' 'liberty lake' 'spokane valley' 'veradale'
 'newnan' 'peachtree city' 'fairburn' 'fayetteville' 'atlanta'
 'douglasville' 'jonesboro' 'griffin' 'villa rica' 'mcdonough'
 'stockbridge' 'temple' 'cottage grove' 'crescent city' 'brookings'
 'pico rivera' 'whittier' 'santa fe springs' 'montebello' 'monterey park'
 'downey' 'south el monte' 'rosemead' 'city of industry' 'el monte'
 'norwalk' 'south gate' 'casselberry' 'thornton park' 'miami springs'
 'doral' 'birmingham' 'mountain brook' 'homewood' 'vestavia hills'
 'trussville' 'hoover' 'fultondale' 'indian springs village' 'gardendale'
 'pelham' 'bessemer' 'alabaster' 'sylacauga' 'cullman' 'gadsden' 'tucson'
 'casa adobes' 'oro valley' 'battle ground' 'ridgefield' 'woodland'
 'st. helens' 'bethlehem' 'conyers' 'winder' 'covington' 'dacula' 'buford'
 'flowery branch' 'braselton' 'schaumburg' 'rolling meadows' 'palatine'
 'arlington heights' 'elk grove village' 'roselle' 'mt. prospect'
 'hoffman estates' 'wood dale' 'bloomingdale' 'buffalo grove' 'addison'
 'hanover park' 'des plaines' 'glendale heights' 'rosemont' 'east hampton'
 'madison' 'bridgehampton' 'mattituck' 'middletown' 'southampton'
 'branford' 'cromwell' 'rocky hill' 'wallingford' 'hampton bays' 'meriden'
 'newington' 'yuba city' 'marysville' 'gridley' 'dunnigan' 'oroville'
 'williams' 'grass valley' 'rio linda' 'baldwin' 'oceanside'
 'rockville centre' 'island park' 'lynbrook' 'long beach' 'hewlett'
 'west hempstead' 'franklin square' 'garden city' 'valley stream'
 'cedarhurst' 'elmont' 'lawrence' 'mineola' 'bellerose' 'new hyde park'
 'jamaica' 'roslyn heights' 'little neck' 'commerce city' 'denver'
 'aurora' 'tyler' 'lindale' 'longview' 'palestine' 'gun barrel city'
 'fulton' 'jessup' 'ellicott city' 'clarksville' 'elkridge' 'hanover'
 'fort meade' 'catonsville' 'linthicum heights' 'baltimore' 'olney'
 'odenton' 'glen burnie' 'baldwin park' 'hacienda heights' 'covina'
 'irwindale' 'azusa' 'glendora' 'la habra' 'duarte' 'santa maria' 'orcutt'
 'nipomo' 'arroyo grande' 'grover beach' 'pismo beach' 'lompoc'
 'san luis obispo' 'buellton' 'los osos' 'morro bay' 'atascadero'
 'paso robles' 'goleta' 'isla vista' 'santa barbara' 'hingham' 'cohasset'
 'weymouth' 'marshfield' 'braintree' 'quincy' 'brockton' 'stoughton'
 'milton' 'plymouth' 'dorchester' 'south boston' 'easton' 'south easton'
 'norwood' 'burlington' 'billerica' 'bedford' 'lowell' 'chelmsford'
 'concord' 'ft. lauderdale' 'north miami beach' 'sunny isles beach'
 'huntington beach' 'westminster' 'garden grove' 'stanton' 'miami beach'
 'miami shores' 'south beach' 'surfside' 'key biscayne' 'north miami'
 'barrington' 'seekonk' 'providence' 'fall river' 'swansea' 'somerset'
 'attleboro' 'north dartmouth' 'north attleborough' 'taunton' 'plainville'
 'phoenix']

# split time zone

In [102]:
timezone_gb = dirty_gb.copy()
x = dirty_gb.loc[:,'olsonTimeZoneId'].str.split(' ', expand = True)
timezone_gb['GMT'] = x[0]
timezone_gb['GMT_region'] = x[1]
timezone_gb.drop(labels=['olsonTimeZoneId'],axis='columns', inplace = True)
timezone_gb

,No.,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,streetAddressLine3,city,countrySubdivisionCode,postalCode,currentTimeOffset,windowsTimeZoneId,GMT,GMT_region
2823,16669,9155-152277,GB,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 10:...",membury-south-welcome-break-m-4-motorway-westb...,51.483556,-1.557143,"M4 Motorway Westbound, Junction 14/15",Lambourne,NaN,berkshire,ENG,RG17 7TZ,0,GMT Standard Time,GMT+00:00,Europe/London
2824,16670,22194-218828,GB,LS,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",membury-south-welcome-break-dt-m-4-motorway-j-...,51.482387,-1.555109,M4 Motorway J14 15 membury,NaN,NaN,hungerford,ENG,RG17 7TZ,0,GMT Standard Time,GMT+00:00,Europe/London
2825,16671,18362-190424,GB,LS,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",membury-north-welcome-break-dt-m-4-motorway-ju...,51.481264,-1.556526,"M4 Motorway, Junction 14/15",Lambourne,NaN,hungerford,ENG,RG17 7TZ,0,GMT Standard Time,GMT+00:00,Europe/London
2826,16672,9136-152279,GB,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 10:...",membury-north-welcome-break-m-4-motorway-eastb...,51.481177,-1.557422,M4 Motorway Eastbound Junction 14 15,NaN,NaN,berkshire,ENG,RG17 7TZ,0,GMT Standard Time,GMT+00:00,Europe/London
2827,16673,47832-260044,GB,FR,"[{'dayName': 'Today', 'hours': '10:00 AM to 8:...",swindon-great-western-outlet-unit-51-swindon-e...,51.562617,-1.798111,Unit 51,Great Western Designer Village,NaN,swindon,ENG,SN2 2DZ,0,GMT Standard Time,GMT+00:00,Europe/London
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,17639,21472-213065,GB,LS,"[{'dayName': 'Today', 'hours': '7:00 AM to 7:0...",rhyl-kinmel-park-eastbound-kinmel-park-a-55-ea...,53.270439,-3.519619,"Kinmel Park, A55 Eastbound",Bodelwyddon,NaN,rhyl,WLS,LL18 5XW,0,GMT Standard Time,GMT+00:00,Europe/London
3794,17640,47867-260072,GB,FR,"[{'dayName': 'Today', 'hours': '6:30 AM to 5:3...",welwyn-garden-city-howard-centre-unit-56-welwy...,51.802087,-0.204220,Unit 56,The Howard Centre,NaN,welwyn garden city,ENG,AL8 6HA,0,GMT Standard Time,GMT+00:00,Europe/London
3795,17641,9139-152280,GB,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 10:...",birchanger-welcome-break-m-11-motorway-junctio...,51.871540,0.194940,"M11 Motorway, Junction 8","Old Dunmow Road, Bishop Stortford",NaN,hertfordshire,ENG,CM23 5QZ,0,GMT Standard Time,GMT+00:00,Europe/London
3796,17642,27642-248279,GB,FR,"[{'dayName': 'Today', 'hours': '7:00 AM to 6:0...",bishops-stortford-jacksons-square-jacksons-squ...,51.870230,0.160930,Jacksons Square,NaN,NaN,bishop's stortford,ENG,CM23 3AB,0,GMT Standard Time,GMT+00:00,Europe/London
3797,17643,49194-267469,GB,FR,"[{'dayName': 'Today', 'hours': '8:00 AM to 6:0...",harlow-harvey-shopping-centre-unit-b-2-harvey-...,51.769361,0.094525,"Unit B2, Harvey Shopping Centre,",NaN,NaN,harlow,ENG,CM20 1XR,0,GMT Standard Time,GMT+00:00,Europe/London

In [103]:
timezone_us = dirty_us.copy()
x = dirty_us.loc[:,'olsonTimeZoneId'].str.split(' ', expand = True)
timezone_us['GMT'] = x[0]
timezone_us['GMT_region'] = x[1]
timezone_us.drop(labels=['olsonTimeZoneId'],axis='columns', inplace = True)
x
timezone_us

,No.,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,streetAddressLine3,city,countrySubdivisionCode,postalCode,currentTimeOffset,windowsTimeZoneId,GMT,GMT_region
0,4712,49987-272024,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",hyatt-bethesda-metro-1-bethesda-metro-center-b...,38.984316,-77.094665,1 Bethesda Metro Center,NaN,NaN,bethesda,MD,208145325,-240,Eastern Standard Time,GMT-05:00,America/New_York
1,4713,743-294452,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 8:0...",7200-wisconsin-ave-7200-wisconsin-ave-bethesda...,38.981224,-77.093287,7200 Wisconsin Ave,120,NaN,bethesda,MD,20814,-240,Eastern Standard Time,GMT-05:00,America/New_York
2,4714,13235-105606,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 8:0...",van-ness-udc-4250-connecticut-ave-nw-van-ness-...,38.944498,-77.064207,"4250 Connecticut Ave., NW",NaN,Van Ness Metro Building,washington,DC,200081173,-240,Eastern Standard Time,GMT-05:00,America/New_York
3,4715,47040-256424,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",dakota-crossing-2430-market-street-ne-washingt...,38.920244,-76.952774,2430 Market Street NE,1001,NaN,washington,DC,200183852,-240,Eastern Standard Time,GMT-05:00,America/New_York
4,4716,7764-61020,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 7:3...",friendship-heights-5454-wisconsin-avenue-the-b...,38.962553,-77.086862,5454 Wisconsin Avenue,NaN,The Barlow Building,chevy chase,MD,208156901,-240,Eastern Standard Time,GMT-05:00,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,7530,24426-237911,US,CO,"[{'dayName': 'Today', 'hours': '4:30 AM to 9:0...",27th-avenue-loop-101-phoenix-20216-n-27th-aven...,33.670760,-112.117874,20216 N 27th Avenue,NaN,NaN,phoenix,AZ,850273207,-420,US Mountain Standard Time,GMT-07:00,America/Phoenix
2819,7531,27544-245014,US,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:0...",target-phoenix-t-1141-2727-w-agua-fria-fwy-pho...,33.667883,-112.118782,2727 W Agua Fria Fwy,NaN,NaN,phoenix,AZ,85027,-420,US Mountain Standard Time,GMT-07:00,America/Phoenix
2820,7532,8974-95021,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 7:3...",happy-valley-i-17-phoenix-2501-west-happy-vall...,33.711073,-112.111442,2501 West Happy Valley Road,#50-1200,NaN,phoenix,AZ,850853701,-420,US Mountain Standard Time,GMT-07:00,America/Phoenix
2821,7533,9065-113971,US,LS,"[{'dayName': 'Today', 'hours': '7:00 AM to 1:3...",usaa-phoenix-campus-1-norterra-dr-phoenix-az-8...,33.720295,-112.111798,1 Norterra Dr,NaN,NaN,phoenix,AZ,850858204,-420,US Mountain Standard Time,GMT-07:00,America/Phoenix
2822,7534,9251-95286,US,CO,"[{'dayName': 'Today', 'hours': '4:30 AM to 11:...",43rd-avenue-thunderbird-phoenix-4123-w-thunder...,33.610479,-112.147505,4123 W. Thunderbird Road,NaN,NaN,phoenix,AZ,850535341,-420,US Mountain Standard Time,GMT-07:00,America/Phoenix

# Merge address with "|"

In [104]:
add_time_us = timezone_us.copy()
add_time_us['address'] = add_time_us[['streetAddressLine1', 'streetAddressLine2', 'streetAddressLine3']].astype(str).agg('|'.join, axis=1)
add_time_us.replace( regex=r'\|nan', value='', inplace = True)
add_time_us['address']

0                                 1 Bethesda Metro Center
1                                  7200 Wisconsin Ave|120
2       4250 Connecticut Ave., NW|Van Ness Metro Building
3                              2430 Market Street NE|1001
4               5454 Wisconsin Avenue|The Barlow Building
                              ...
2818                                  20216 N 27th Avenue
2819                                 2727 W Agua Fria Fwy
2820                 2501 West Happy Valley Road|#50-1200
2821                                        1 Norterra Dr
2822                             4123 W. Thunderbird Road
Name: address, Length: 2823, dtype: object

In [105]:
add_time_gb = timezone_gb.copy()
add_time_gb['address'] = add_time_gb[['streetAddressLine1', 'streetAddressLine2', 'streetAddressLine3']].astype(str).agg('|'.join, axis=1)
add_time_gb.replace( regex=r'\|nan', value='', inplace = True)
add_time_gb['address']

2823      M4 Motorway Westbound, Junction 14/15|Lambourne
2824                          M4 Motorway J14 15 membury
2825                M4 Motorway, Junction 14/15|Lambourne
2826                 M4 Motorway Eastbound Junction 14 15
2827               Unit 51|Great Western Designer Village
                              ...
3793              Kinmel Park,  A55 Eastbound|Bodelwyddon
3794                            Unit 56|The Howard Centre
3795    M11 Motorway, Junction 8|Old Dunmow Road, Bish...
3796                                      Jacksons Square
3797                     Unit B2, Harvey Shopping Centre,
Name: address, Length: 975, dtype: object

# split schedule

In [106]:
schedule_us = add_time_us['schedule'].to_frame()
schedule_gb = add_time_gb['schedule'].to_frame()
hours_add_time_us = add_time_us.copy()
hours_add_time_gb = add_time_gb.copy()
print(schedule_us)
print(schedule_gb)
# type(schedule_us)
# type(schedule_gb)

                                               schedule
0     [{'dayName': 'Today', 'hours': '5:30 AM to 8:0...
1     [{'dayName': 'Today', 'hours': '5:00 AM to 8:0...
2     [{'dayName': 'Today', 'hours': '5:00 AM to 8:0...
3     [{'dayName': 'Today', 'hours': '5:30 AM to 8:0...
4     [{'dayName': 'Today', 'hours': '5:00 AM to 7:3...
...                                                 ...
2818  [{'dayName': 'Today', 'hours': '4:30 AM to 9:0...
2819  [{'dayName': 'Today', 'hours': '8:00 AM to 8:0...
2820  [{'dayName': 'Today', 'hours': '5:00 AM to 7:3...
2821  [{'dayName': 'Today', 'hours': '7:00 AM to 1:3...
2822  [{'dayName': 'Today', 'hours': '4:30 AM to 11:...

[2823 rows x 1 columns]
                                               schedule
2823  [{'dayName': 'Today', 'hours': '6:00 AM to 10:...
2824  [{'dayName': 'Today', 'hours': '5:30 AM to 8:0...
2825  [{'dayName': 'Today', 'hours': '5:30 AM to 8:0...
2826  [{'dayName': 'Today', 'hours': '6:00 AM to 10:...
2827  [{'dayName': 'Today', 'hours': '10:00 AM to 8:...
...                                                 ...
3793  [{'dayName': 'Today', 'hours': '7:00 AM to 7:0...
3794  [{'dayName': 'Today', 'hours': '6:30 AM to 5:3...
3795  [{'dayName': 'Today', 'hours': '6:00 AM to 10:...
3796  [{'dayName': 'Today', 'hours': '7:00 AM to 6:0...
3797  [{'dayName': 'Today', 'hours': '8:00 AM to 6:0...

[975 rows x 1 columns]

In [107]:
schedule_us_split = schedule_us['schedule'].str.split('}, {', expand = True)
print(schedule_us_split.count)
schedule_gb_split = schedule_gb['schedule'].str.split('}, {', expand = True)
print(schedule_gb_split.count)
# schedule_us_split.fillna('Closed', inplace = True)
# print(schedule_us_split[1][2])

<bound method DataFrame.count of                                                       0  \
0     [{'dayName': 'Today', 'hours': '5:30 AM to 8:0...
1     [{'dayName': 'Today', 'hours': '5:00 AM to 8:0...
2     [{'dayName': 'Today', 'hours': '5:00 AM to 8:0...
3     [{'dayName': 'Today', 'hours': '5:30 AM to 8:0...
4     [{'dayName': 'Today', 'hours': '5:00 AM to 7:3...
...                                                 ...
2818  [{'dayName': 'Today', 'hours': '4:30 AM to 9:0...
2819  [{'dayName': 'Today', 'hours': '8:00 AM to 8:0...
2820  [{'dayName': 'Today', 'hours': '5:00 AM to 7:3...
2821  [{'dayName': 'Today', 'hours': '7:00 AM to 1:3...
2822  [{'dayName': 'Today', 'hours': '4:30 AM to 11:...

                                                      1  \
0     'dayName': 'Tomorrow', 'hours': '5:30 AM to 8:...
1     'dayName': 'Tomorrow', 'hours': '5:00 AM to 8:...
2     'dayName': 'Tomorrow', 'hours': '5:00 AM to 8:...
3     'dayName': 'Tomorrow', 'hours': '5:30 AM to 8:...
4     'dayName': 'Tomorrow', 'hours': '5:00 AM to 7:...
...                                                 ...
2818  'dayName': 'Tomorrow', 'hours': '4:30 AM to 9:...
2819  'dayName': 'Tomorrow', 'hours': '8:00 AM to 8:...
2820  'dayName': 'Tomorrow', 'hours': '5:00 AM to 7:...
2821  'dayName': 'Tomorrow', 'hours': '7:00 AM to 1:...
2822  'dayName': 'Tomorrow', 'hours': '4:30 AM to 11...

                                                      2  \
0     'dayName': 'Thursday', 'hours': '5:30 AM to 8:...
1     'dayName': 'Thursday', 'hours': '5:00 AM to 8:...
2     'dayName': 'Thursday', 'hours': '5:00 AM to 8:...
3     'dayName': 'Thursday', 'hours': '5:30 AM to 8:...
4     'dayName': 'Thursday', 'hours': '5:00 AM to 7:...
...                                                 ...
2818  'dayName': 'Thursday', 'hours': '4:30 AM to 9:...
2819  'dayName': 'Thursday', 'hours': '8:00 AM to 8:...
2820  'dayName': 'Thursday', 'hours': '5:00 AM to 7:...
2821  'dayName': 'Thursday', 'hours': '7:00 AM to 1:...
2822  'dayName': 'Thursday', 'hours': '4:30 AM to 11...

                                                      3  \
0     'dayName': 'Friday', 'hours': '5:30 AM to 8:00...
1     'dayName': 'Friday', 'hours': '5:00 AM to 8:30...
2     'dayName': 'Friday', 'hours': '5:00 AM to 8:00...
3     'dayName': 'Friday', 'hours': '5:30 AM to 8:00...
4     'dayName': 'Friday', 'hours': '5:00 AM to 7:30...
...                                                 ...
2818  'dayName': 'Friday', 'hours': '4:30 AM to 9:00...
2819  'dayName': 'Friday', 'hours': '8:00 AM to 8:00...
2820  'dayName': 'Friday', 'hours': '5:00 AM to 7:30...
2821  'dayName': 'Friday', 'hours': '7:00 AM to 1:30...
2822  'dayName': 'Friday', 'hours': '4:30 AM to 11:0...

                                                      4  \
0     'dayName': 'Saturday', 'hours': '5:30 AM to 8:...
1     'dayName': 'Saturday', 'hours': '5:30 AM to 8:...
2     'dayName': 'Saturday', 'hours': '6:00 AM to 6:...
3     'dayName': 'Saturday', 'hours': '6:00 AM to 8:...
4     'dayName': 'Saturday', 'hours': '6:00 AM to 7:...
...                                                 ...
2818  'dayName': 'Saturday', 'hours': '5:00 AM to 9:...
2819  'dayName': 'Saturday', 'hours': '8:00 AM to 8:...
2820  'dayName': 'Saturday', 'hours': '5:00 AM to 7:...
2821  'dayName': 'Saturday', 'hours': 'Closed', 'ope...
2822  'dayName': 'Saturday', 'hours': '4:30 AM to 11...

                                                      5  \
0     'dayName': 'Sunday', 'hours': '5:30 AM to 8:00...
1     'dayName': 'Sunday', 'hours': '6:00 AM to 8:00...
2     'dayName': 'Sunday', 'hours': '6:00 AM to 6:00...
3     'dayName': 'Sunday', 'hours': '6:00 AM to 8:00...
4     'dayName': 'Sunday', 'hours': '6:00 AM to 7:00...
...                                                 ...
2818  'dayName': 'Sunday', 'hours': '5:00 AM to 7:00...
2819  'dayName': 'Sunday', 'hours': '8:00 AM to 8:00...
2820  'dayName': 'Sunday', 'hours': '5:30 AM to 7:30...
2821  'dayName': 'Sunday', 'hours': 'Closed', 'open'...
2822  'dayName': 'Sunday', 'hours': '4:30 AM to 11:0...

                                                      6
0     'dayName': 'Monday', 'hours': '5:30 AM to 8:00...
1     'dayName': 'Monday', 'hours': '5:00 AM to 8:00...
2     'dayName': 'Monday', 'hours': '5:00 AM to 8:00...
3     'dayName': 'Monday', 'hours': '5:30 AM to 8:00...
4     'dayName': 'Monday', 'hours': '5:00 AM to 7:30...
...                                                 ...
2818  'dayName': 'Monday', 'hours': '4:30 AM to 9:00...
2819  'dayName': 'Monday', 'hours': '8:00 AM to 8:00...
2820  'dayName': 'Monday', 'hours': '5:00 AM to 7:30...
2821  'dayName': 'Monday', 'hours': '7:00 AM to 1:30...
2822  'dayName': 'Monday', 'hours': '4:30 AM to 11:0...

[2823 rows x 7 columns]>
<bound method DataFrame.count of                                                       0  \
2823  [{'dayName': 'Today', 'hours': '6:00 AM to 10:...
2824  [{'dayName': 'Today', 'hours': '5:30 AM to 8:0...
2825  [{'dayName': 'Today', 'hours': '5:30 AM to 8:0...
2826  [{'dayName': 'Today', 'hours': '6:00 AM to 10:...
2827  [{'dayName': 'Today', 'hours': '10:00 AM to 8:...
...                                                 ...
3793  [{'dayName': 'Today', 'hours': '7:00 AM to 7:0...
3794  [{'dayName': 'Today', 'hours': '6:30 AM to 5:3...
3795  [{'dayName': 'Today', 'hours': '6:00 AM to 10:...
3796  [{'dayName': 'Today', 'hours': '7:00 AM to 6:0...
3797  [{'dayName': 'Today', 'hours': '8:00 AM to 6:0...

                                                      1  \
2823  'dayName': 'Tomorrow', 'hours': '6:00 AM to 10...
2824  'dayName': 'Tomorrow', 'hours': '5:30 AM to 8:...
2825  'dayName': 'Tomorrow', 'hours': '5:30 AM to 8:...
2826  'dayName': 'Tomorrow', 'hours': '6:00 AM to 10...
2827  'dayName': 'Tomorrow', 'hours': '10:00 AM to 8...
...                                                 ...
3793  'dayName': 'Tomorrow', 'hours': '7:00 AM to 7:...
3794  'dayName': 'Tomorrow', 'hours': '6:30 AM to 5:...
3795  'dayName': 'Tomorrow', 'hours': '6:00 AM to 10...
3796  'dayName': 'Tomorrow', 'hours': '7:00 AM to 6:...
3797  'dayName': 'Tomorrow', 'hours': '8:00 AM to 6:...

                                                      2  \
2823  'dayName': 'Thursday', 'hours': '6:00 AM to 10...
2824  'dayName': 'Thursday', 'hours': '5:30 AM to 8:...
2825  'dayName': 'Thursday', 'hours': '5:30 AM to 8:...
2826  'dayName': 'Thursday', 'hours': '6:00 AM to 10...
2827  'dayName': 'Thursday', 'hours': '10:00 AM to 8...
...                                                 ...
3793  'dayName': 'Thursday', 'hours': '7:00 AM to 7:...
3794  'dayName': 'Thursday', 'hours': '6:30 AM to 5:...
3795  'dayName': 'Thursday', 'hours': '6:00 AM to 10...
3796  'dayName': 'Thursday', 'hours': '7:00 AM to 6:...
3797  'dayName': 'Thursday', 'hours': '8:00 AM to 6:...

                                                      3  \
2823  'dayName': 'Friday', 'hours': '6:00 AM to 10:0...
2824  'dayName': 'Friday', 'hours': '5:30 AM to 8:00...
2825  'dayName': 'Friday', 'hours': '5:30 AM to 8:00...
2826  'dayName': 'Friday', 'hours': '6:00 AM to 10:0...
2827  'dayName': 'Friday', 'hours': '10:00 AM to 8:0...
...                                                 ...
3793  'dayName': 'Friday', 'hours': '7:00 AM to 7:00...
3794  'dayName': 'Friday', 'hours': '6:30 AM to 5:30...
3795  'dayName': 'Friday', 'hours': '6:00 AM to 10:0...
3796  'dayName': 'Friday', 'hours': '7:00 AM to 6:00...
3797  'dayName': 'Friday', 'hours': '8:00 AM to 6:00...

                                                      4  \
2823  'dayName': 'Saturday', 'hours': '7:00 AM to 10...
2824  'dayName': 'Saturday', 'hours': '7:00 AM to 8:...
2825  'dayName': 'Saturday', 'hours': '6:30 AM to 8:...
2826  'dayName': 'Saturday', 'hours': '7:00 AM to 10...
2827  'dayName': 'Saturday', 'hours': '9:00 AM to 7:...
...                                                 ...
3793  'dayName': 'Saturday', 'hours': '7:00 AM to 7:...
3794  'dayName': 'Saturday', 'hours': '8:00 AM to 5:...
3795  'dayName': 'Saturday', 'hours': '7:00 AM to 10...
3796  'dayName': 'Saturday', 'hours': '7:00 AM to 6:...
3797  'dayName': 'Saturday', 'hours': '8:00 AM to 6:...

                                                      5  \
2823  'dayName': 'Sunday', 'hours': '7:00 AM to 10:0...
2824  'dayName': 'Sunday', 'hours': '7:00 AM to 8:00...
2825  'dayName': 'Sunday', 'hours': '6:30 AM to 9:00...
2826  'dayName': 'Sunday', 'hours': '7:00 AM to 10:0...
2827  'dayName': 'Sunday', 'hours': '10:00 AM to 6:0...
...                                                 ...
3793  'dayName': 'Sunday', 'hours': '8:00 AM to 8:30...
3794  'dayName': 'Sunday', 'hours': '9:00 AM to 4:00...
3795  'dayName': 'Sunday', 'hours': '7:00 AM to 10:0...
3796  'dayName': 'Sunday', 'hours': '10:00 AM to 5:0...
3797  'dayName': 'Sunday', 'hours': '9:00 AM to 5:00...

                                                      6
2823  'dayName': 'Monday', 'hours': '6:00 AM to 10:0...
2824  'dayName': 'Monday', 'hours': '5:30 AM to 8:00...
2825  'dayName': 'Monday', 'hours': '5:30 AM to 8:00...
2826  'dayName': 'Monday', 'hours': '6:00 AM to 10:0...
2827  'dayName': 'Monday', 'hours': '10:00 AM to 8:0...
...                                                 ...
3793  'dayName': 'Monday', 'hours': '7:00 AM to 7:00...
3794  'dayName': 'Monday', 'hours': '6:30 AM to 5:30...
3795  'dayName': 'Monday', 'hours': '6:00 AM to 10:0...
3796  'dayName': 'Monday', 'hours': '7:00 AM to 6:00...
3797  'dayName': 'Monday', 'hours': '8:00 AM to 6:00...

[975 rows x 7 columns]>

## function for extract schedule

In [108]:
def get_schedule(schedule):
#     print(schedule)
    time = schedule.str.extract(r'(?P<Open>\d{1,2}[:]\d{2}\s\wM)').copy()
    time['Close'] = schedule.str.extract(r'(?P<to>\sto\s)(?P<Close>\d{1,2}[:]\d{2}\s\wM)')['Close'].copy()
    time['No_service'] = schedule.str.extract(r'(?P<No_service>Closed)')['No_service'].copy()
    time['Open'] = pd.to_datetime(time['Open']).dt.strftime('%H:%M')
    time['Close'] = pd.to_datetime(time['Close']).dt.strftime('%H:%M')
    filter = (time['No_service'] == 'Closed')
    time.loc[filter,('Open', 'Close')] = time.loc[filter,('Open', 'Close')].fillna('Closed')
    return time['Open'], time['Close']

In [109]:
hours_add_time_us['Mon_open'], hours_add_time_us['Mon_close'] = get_schedule(schedule_us_split[6])
hours_add_time_us['Tue_open'], hours_add_time_us['Tue_close'] = get_schedule(schedule_us_split[0])
hours_add_time_us['Wed_open'], hours_add_time_us['Wed_close'] = get_schedule(schedule_us_split[1])
hours_add_time_us['Thu_open'], hours_add_time_us['Thu_close'] = get_schedule(schedule_us_split[2])
hours_add_time_us['Fri_open'], hours_add_time_us['Fri_close'] = get_schedule(schedule_us_split[3])
hours_add_time_us['Sat_open'], hours_add_time_us['Sat_close'] = get_schedule(schedule_us_split[4])
hours_add_time_us['Sun_open'], hours_add_time_us['Sun_close'] = get_schedule(schedule_us_split[5])
hours_add_time_us

,No.,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,...,Wed_open,Wed_close,Thu_open,Thu_close,Fri_open,Fri_close,Sat_open,Sat_close,Sun_open,Sun_close
0,4712,49987-272024,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",hyatt-bethesda-metro-1-bethesda-metro-center-b...,38.984316,-77.094665,1 Bethesda Metro Center,NaN,...,05:30,20:00,05:30,20:00,05:30,20:00,05:30,20:00,05:30,20:00
1,4713,743-294452,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 8:0...",7200-wisconsin-ave-7200-wisconsin-ave-bethesda...,38.981224,-77.093287,7200 Wisconsin Ave,120,...,05:00,20:00,05:00,20:00,05:00,20:30,05:30,20:30,06:00,20:00
2,4714,13235-105606,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 8:0...",van-ness-udc-4250-connecticut-ave-nw-van-ness-...,38.944498,-77.064207,"4250 Connecticut Ave., NW",NaN,...,05:00,20:00,05:00,20:00,05:00,20:00,06:00,18:00,06:00,18:00
3,4715,47040-256424,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",dakota-crossing-2430-market-street-ne-washingt...,38.920244,-76.952774,2430 Market Street NE,1001,...,05:30,20:00,05:30,20:00,05:30,20:00,06:00,20:00,06:00,20:00
4,4716,7764-61020,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 7:3...",friendship-heights-5454-wisconsin-avenue-the-b...,38.962553,-77.086862,5454 Wisconsin Avenue,NaN,...,05:00,19:30,05:00,19:30,05:00,19:30,06:00,19:30,06:00,19:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,7530,24426-237911,US,CO,"[{'dayName': 'Today', 'hours': '4:30 AM to 9:0...",27th-avenue-loop-101-phoenix-20216-n-27th-aven...,33.670760,-112.117874,20216 N 27th Avenue,NaN,...,04:30,21:00,04:30,21:00,04:30,21:00,05:00,21:00,05:00,19:00
2819,7531,27544-245014,US,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:0...",target-phoenix-t-1141-2727-w-agua-fria-fwy-pho...,33.667883,-112.118782,2727 W Agua Fria Fwy,NaN,...,08:00,20:00,08:00,20:00,08:00,20:00,08:00,20:00,08:00,20:00
2820,7532,8974-95021,US,CO,"[{'dayName': 'Today', 'hours': '5:00 AM to 7:3...",happy-valley-i-17-phoenix-2501-west-happy-vall...,33.711073,-112.111442,2501 West Happy Valley Road,#50-1200,...,05:00,19:30,05:00,19:30,05:00,19:30,05:00,19:30,05:30,19:30
2821,7533,9065-113971,US,LS,"[{'dayName': 'Today', 'hours': '7:00 AM to 1:3...",usaa-phoenix-campus-1-norterra-dr-phoenix-az-8...,33.720295,-112.111798,1 Norterra Dr,NaN,...,07:00,13:30,07:00,13:30,07:00,13:30,Closed,Closed,Closed,Closed
2822,7534,9251-95286,US,CO,"[{'dayName': 'Today', 'hours': '4:30 AM to 11:...",43rd-avenue-thunderbird-phoenix-4123-w-thunder...,33.610479,-112.147505,4123 W. Thunderbird Road,NaN,...,04:30,23:00,04:30,23:00,04:30,23:00,04:30,23:00,04:30,23:00

In [110]:
hours_add_time_gb['Mon_open'], hours_add_time_gb['Mon_close'] = get_schedule(schedule_gb_split[6])
hours_add_time_gb['Tue_open'], hours_add_time_gb['Tue_close'] = get_schedule(schedule_gb_split[0])
hours_add_time_gb['Wed_open'], hours_add_time_gb['Wed_close'] = get_schedule(schedule_gb_split[1])
hours_add_time_gb['Thu_open'], hours_add_time_gb['Thu_close'] = get_schedule(schedule_gb_split[2])
hours_add_time_gb['Fri_open'], hours_add_time_gb['Fri_close'] = get_schedule(schedule_gb_split[3])
hours_add_time_gb['Sat_open'], hours_add_time_gb['Sat_close'] = get_schedule(schedule_gb_split[4])
hours_add_time_gb['Sun_open'], hours_add_time_gb['Sun_close'] = get_schedule(schedule_gb_split[5])
hours_add_time_gb

,No.,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,...,Wed_open,Wed_close,Thu_open,Thu_close,Fri_open,Fri_close,Sat_open,Sat_close,Sun_open,Sun_close
2823,16669,9155-152277,GB,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 10:...",membury-south-welcome-break-m-4-motorway-westb...,51.483556,-1.557143,"M4 Motorway Westbound, Junction 14/15",Lambourne,...,06:00,22:00,06:00,22:00,06:00,22:00,07:00,22:00,07:00,22:00
2824,16670,22194-218828,GB,LS,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",membury-south-welcome-break-dt-m-4-motorway-j-...,51.482387,-1.555109,M4 Motorway J14 15 membury,NaN,...,05:30,20:00,05:30,20:00,05:30,20:00,07:00,20:00,07:00,20:00
2825,16671,18362-190424,GB,LS,"[{'dayName': 'Today', 'hours': '5:30 AM to 8:0...",membury-north-welcome-break-dt-m-4-motorway-ju...,51.481264,-1.556526,"M4 Motorway, Junction 14/15",Lambourne,...,05:30,20:00,05:30,20:00,05:30,20:00,06:30,20:00,06:30,21:00
2826,16672,9136-152279,GB,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 10:...",membury-north-welcome-break-m-4-motorway-eastb...,51.481177,-1.557422,M4 Motorway Eastbound Junction 14 15,NaN,...,06:00,22:00,06:00,22:00,06:00,22:00,07:00,22:00,07:00,22:00
2827,16673,47832-260044,GB,FR,"[{'dayName': 'Today', 'hours': '10:00 AM to 8:...",swindon-great-western-outlet-unit-51-swindon-e...,51.562617,-1.798111,Unit 51,Great Western Designer Village,...,10:00,20:00,10:00,20:00,10:00,20:00,09:00,19:00,10:00,18:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,17639,21472-213065,GB,LS,"[{'dayName': 'Today', 'hours': '7:00 AM to 7:0...",rhyl-kinmel-park-eastbound-kinmel-park-a-55-ea...,53.270439,-3.519619,"Kinmel Park, A55 Eastbound",Bodelwyddon,...,07:00,19:00,07:00,19:00,07:00,19:00,07:00,19:00,08:00,20:30
3794,17640,47867-260072,GB,FR,"[{'dayName': 'Today', 'hours': '6:30 AM to 5:3...",welwyn-garden-city-howard-centre-unit-56-welwy...,51.802087,-0.204220,Unit 56,The Howard Centre,...,06:30,17:30,06:30,17:30,06:30,17:30,08:00,17:30,09:00,16:00
3795,17641,9139-152280,GB,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 10:...",birchanger-welcome-break-m-11-motorway-junctio...,51.871540,0.194940,"M11 Motorway, Junction 8","Old Dunmow Road, Bishop Stortford",...,06:00,22:00,06:00,22:00,06:00,22:00,07:00,22:00,07:00,22:00
3796,17642,27642-248279,GB,FR,"[{'dayName': 'Today', 'hours': '7:00 AM to 6:0...",bishops-stortford-jacksons-square-jacksons-squ...,51.870230,0.160930,Jacksons Square,NaN,...,07:00,18:00,07:00,18:00,07:00,18:00,07:00,18:00,10:00,17:00
3797,17643,49194-267469,GB,FR,"[{'dayName': 'Today', 'hours': '8:00 AM to 6:0...",harlow-harvey-shopping-centre-unit-b-2-harvey-...,51.769361,0.094525,"Unit B2, Harvey Shopping Centre,",NaN,...,08:00,18:00,08:00,18:00,08:00,18:00,08:00,18:00,09:00,17:00

## for check all null

In [111]:
print(hours_add_time_us[hours_add_time_us['Mon_open'].isnull()])
print(hours_add_time_gb[hours_add_time_gb['Sat_open'].isnull()])

       No.   storeNumber countryCode ownershipTypeCode schedule  \
811   5523    2408-13139          US                CO      NaN
1245  5957    9609-97425          US                CO      NaN
1497  6209      7232-567          US                CO      NaN
1673  6385  62851-295040          US                LS      NaN
1684  6396    9367-96488          US                CO      NaN
1788  6500  23930-227526          US                LS      NaN
1813  6525  26930-246154          US                CO      NaN
1902  6614    7772-66123          US                CO      NaN
2276  6988  59274-292333          US                LS      NaN
2639  7351  65442-299588          US                LS      NaN
2691  7403  67922-290584          US                LS      NaN
2725  7437      866-1800          US                CO      NaN

                                                   slug   latitude  \
811   pine-creek-shoppes-8958-east-96th-street-pine-...  39.927474
1245  15th-douglas-222-south-15th-street-omaha-ne-68...  41.258491
1497  old-tappan-216-old-tappan-road-old-tappan-nj-0...  41.014561
1673  safeway-reno-188-1031-steamboat-pkwy-reno-nv-8...  39.425158
1684  s-virginia-sierra-ctr-pky-reno-6637-s-virginia...  39.465388
1788  iona-college-student-union-715-north-ave-new-r...  40.926454
1813  silverthorne-rainbow-and-i-70-246-rainbow-driv...  39.631279
1902  reading-route-28-288-main-street-reading-ma-01...  42.515659
2276      ncl-epic-6950-nw-77th-court-miami-fl-33166-us  25.836674
2639  albertsons-lompoc-3171-1500-n-h-street-lompoc-...  34.662350
2691  target-north-quincy-t-3325-183-hancock-st-quin...  42.279297
2725  downtown-lexington-1729-massachusetts-ave-lexi...  42.447500

       longitude      streetAddressLine1 streetAddressLine2  ... Wed_open  \
811   -86.009623   8958 East 96th Street                NaN  ...      NaN
1245  -95.936077   222 South 15th Street                NaN  ...      NaN
1497  -73.981931     216 Old Tappan Road                NaN  ...      NaN
1673 -119.738330     1031 Steamboat Pkwy                NaN  ...      NaN
1684 -119.783786     6637 S. Virginia St                NaN  ...      NaN
1788  -73.786222           715 North Ave                NaN  ...      NaN
1813 -106.070581       246 Rainbow Drive                O-1  ...      NaN
1902  -71.104029         288 Main Street                NaN  ...      NaN
2276  -80.322021      6950 NW 77th Court   APOLLO WAREHOUSE  ...      NaN
2639 -120.456230        1500 N. H street                NaN  ...      NaN
2691  -71.032887          183 Hancock St                NaN  ...      NaN
2725  -71.226705  1729 Massachusetts Ave                NaN  ...      NaN

     Wed_close Thu_open Thu_close  Fri_open Fri_close Sat_open Sat_close  \
811        NaN      NaN       NaN       NaN       NaN      NaN       NaN
1245       NaN      NaN       NaN       NaN       NaN      NaN       NaN
1497       NaN      NaN       NaN       NaN       NaN      NaN       NaN
1673       NaN      NaN       NaN       NaN       NaN      NaN       NaN
1684       NaN      NaN       NaN       NaN       NaN      NaN       NaN
1788       NaN      NaN       NaN       NaN       NaN      NaN       NaN
1813       NaN      NaN       NaN       NaN       NaN      NaN       NaN
1902       NaN      NaN       NaN       NaN       NaN      NaN       NaN
2276       NaN      NaN       NaN       NaN       NaN      NaN       NaN
2639       NaN      NaN       NaN       NaN       NaN      NaN       NaN
2691       NaN      NaN       NaN       NaN       NaN      NaN       NaN
2725       NaN      NaN       NaN       NaN       NaN      NaN       NaN

     Sun_open Sun_close
811       NaN       NaN
1245      NaN       NaN
1497      NaN       NaN
1673      NaN       NaN
1684      NaN       NaN
1788      NaN       NaN
1813      NaN       NaN
1902      NaN       NaN
2276      NaN       NaN
2639      NaN       NaN
2691      NaN       NaN
2725      NaN       NaN

[12 rows x 33 columns]
        No.   storeNumber countryCode ownershipTypeCode schedule  \
3066  16912  63228-296905          GB                LS      NaN
3079  16925  52976-282906          GB                LS      NaN
3259  17105  15383-160610          GB                LS      NaN
3641  17487  66516-301104          GB                FR      NaN
3668  17514  59337-293548          GB                LS      NaN
3696  17542  63224-297530          GB                LS      NaN

                                                   slug   latitude  longitude  \
3066  wrexham-asda-halt-road-dt-halt-road-wrexham-wl...  53.049040  -2.986671
3079  bathgate-heartlands-dt-junction-4-a-m-8-heartl...  55.869120  -3.702430
3259  woburn-center-parcs-forest-centre-woburn-fores...  52.027715  -0.532509
3641  rickmansworth-high-street-146-147-high-street-...  51.639084  -0.471346
3668  sandwich-discovery-park-dt-montagu-road-sandwi...  51.287185   1.337195
3696  eastleigh-bournemouth-road-bournemouth-road-ea...  50.966597  -1.392154

                           streetAddressLine1 streetAddressLine2  ...  \
3066                                Halt Road                NaN  ...
3079  Junction 4A M8 Heartlands Business Park                NaN  ...
3259                   Woburn Forest Ampthill                NaN  ...
3641       146 147 High Street Rickmansworth                 NaN  ...
3668                             Montagu Road                NaN  ...
3696                         Bournemouth Road                NaN  ...

     Wed_open Wed_close Thu_open Thu_close  Fri_open Fri_close Sat_open  \
3066      NaN       NaN      NaN       NaN       NaN       NaN      NaN
3079      NaN       NaN      NaN       NaN       NaN       NaN      NaN
3259      NaN       NaN      NaN       NaN       NaN       NaN      NaN
3641      NaN       NaN      NaN       NaN       NaN       NaN      NaN
3668      NaN       NaN      NaN       NaN       NaN       NaN      NaN
3696      NaN       NaN      NaN       NaN       NaN       NaN      NaN

     Sat_close Sun_open Sun_close
3066       NaN      NaN       NaN
3079       NaN      NaN       NaN
3259       NaN      NaN       NaN
3641       NaN      NaN       NaN
3668       NaN      NaN       NaN
3696       NaN      NaN       NaN

[6 rows x 33 columns]

# Drop/ Reorder colums

In [112]:
hours_add_time_us.columns

Index(['No.', 'storeNumber', 'countryCode', 'ownershipTypeCode', 'schedule',
       'slug', 'latitude', 'longitude', 'streetAddressLine1',
       'streetAddressLine2', 'streetAddressLine3', 'city',
       'countrySubdivisionCode', 'postalCode', 'currentTimeOffset',
       'windowsTimeZoneId', 'GMT', 'GMT_region', 'address', 'Mon_open',
       'Mon_close', 'Tue_open', 'Tue_close', 'Wed_open', 'Wed_close',
       'Thu_open', 'Thu_close', 'Fri_open', 'Fri_close', 'Sat_open',
       'Sat_close', 'Sun_open', 'Sun_close'],
      dtype='object')

In [113]:
hours_add_time_us.drop(columns=['schedule', 'slug', 'streetAddressLine1', 'streetAddressLine2', 'streetAddressLine3', 'currentTimeOffset'], inplace = True)
hours_add_time_gb.drop(columns=['schedule', 'slug', 'streetAddressLine1', 'streetAddressLine2', 'streetAddressLine3', 'currentTimeOffset'], inplace = True)

In [114]:
column_names = ['No.','storeNumber', 'countryCode', 'ownershipTypeCode', 'latitude', 'longitude', 'address', 'city', 'countrySubdivisionCode', 'postalCode', 'windowsTimeZoneId', 'GMT', 'GMT_region', 'Mon_open', 'Mon_close', 'Tue_open', 'Tue_close', 'Wed_open', 'Wed_close', 'Thu_open', 'Tue_close', 'Fri_open', 'Fri_close' , 'Sat_open', 'Sat_close', 'Sun_open', 'Sun_close']
hours_add_time_us = hours_add_time_us.reindex(columns=column_names)
hours_add_time_gb = hours_add_time_gb.reindex(columns=column_names)

In [87]:
print(hours_add_time_us.columns)
print(hours_add_time_gb.columns)

Index(['No.', 'storeNumber', 'countryCode', 'ownershipTypeCode', 'latitude',
       'longitude', 'address', 'city', 'countrySubdivisionCode', 'postalCode',
       'windowsTimeZoneId', 'GMT', 'GMT_region', 'Mon_open', 'Mon_close',
       'Tue_open', 'Tue_close', 'Wed_open', 'Wed_close', 'Thu_open',
       'Tue_close', 'Fri_open', 'Fri_close', 'Sat_open', 'Sat_close',
       'Sun_open', 'Sun_close'],
      dtype='object')
Index(['No.', 'storeNumber', 'countryCode', 'ownershipTypeCode', 'latitude',
       'longitude', 'address', 'city', 'countrySubdivisionCode', 'postalCode',
       'windowsTimeZoneId', 'GMT', 'GMT_region', 'Mon_open', 'Mon_close',
       'Tue_open', 'Tue_close', 'Wed_open', 'Wed_close', 'Thu_open',
       'Tue_close', 'Fri_open', 'Fri_close', 'Sat_open', 'Sat_close',
       'Sun_open', 'Sun_close'],
      dtype='object')

# Merge and output

In [115]:
final = hours_add_time_us.append(hours_add_time_gb)
final

,No.,storeNumber,countryCode,ownershipTypeCode,latitude,longitude,address,city,countrySubdivisionCode,postalCode,...,Wed_open,Wed_close,Thu_open,Tue_close,Fri_open,Fri_close,Sat_open,Sat_close,Sun_open,Sun_close
0,4712,49987-272024,US,CO,38.984316,-77.094665,1 Bethesda Metro Center,bethesda,MD,208145325,...,05:30,20:00,05:30,20:00,05:30,20:00,05:30,20:00,05:30,20:00
1,4713,743-294452,US,CO,38.981224,-77.093287,7200 Wisconsin Ave|120,bethesda,MD,20814,...,05:00,20:00,05:00,20:00,05:00,20:30,05:30,20:30,06:00,20:00
2,4714,13235-105606,US,CO,38.944498,-77.064207,"4250 Connecticut Ave., NW|Van Ness Metro Building",washington,DC,200081173,...,05:00,20:00,05:00,20:00,05:00,20:00,06:00,18:00,06:00,18:00
3,4715,47040-256424,US,CO,38.920244,-76.952774,2430 Market Street NE|1001,washington,DC,200183852,...,05:30,20:00,05:30,20:00,05:30,20:00,06:00,20:00,06:00,20:00
4,4716,7764-61020,US,CO,38.962553,-77.086862,5454 Wisconsin Avenue|The Barlow Building,chevy chase,MD,208156901,...,05:00,19:30,05:00,19:30,05:00,19:30,06:00,19:30,06:00,19:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,17639,21472-213065,GB,LS,53.270439,-3.519619,"Kinmel Park, A55 Eastbound|Bodelwyddon",rhyl,WLS,LL18 5XW,...,07:00,19:00,07:00,19:00,07:00,19:00,07:00,19:00,08:00,20:30
3794,17640,47867-260072,GB,FR,51.802087,-0.204220,Unit 56|The Howard Centre,welwyn garden city,ENG,AL8 6HA,...,06:30,17:30,06:30,17:30,06:30,17:30,08:00,17:30,09:00,16:00
3795,17641,9139-152280,GB,LS,51.871540,0.194940,"M11 Motorway, Junction 8|Old Dunmow Road, Bish...",hertfordshire,ENG,CM23 5QZ,...,06:00,22:00,06:00,22:00,06:00,22:00,07:00,22:00,07:00,22:00
3796,17642,27642-248279,GB,FR,51.870230,0.160930,Jacksons Square,bishop's stortford,ENG,CM23 3AB,...,07:00,18:00,07:00,18:00,07:00,18:00,07:00,18:00,10:00,17:00
3797,17643,49194-267469,GB,FR,51.769361,0.094525,"Unit B2, Harvey Shopping Centre,",harlow,ENG,CM20 1XR,...,08:00,18:00,08:00,18:00,08:00,18:00,08:00,18:00,09:00,17:00

In [116]:
final.to_csv('starbucks_pd.csv', index = False)